:root {
  /* Other styles... */
  font-family: Jost, Inter, system-ui, J, Helvetica, Arial, sans-serif;
  /* Increased line-height to prevent overlapping */
  display: flex;
  justify-content: center;
}

body {
  height: 100vh; /* Fills the entire viewport height */
  width: 90vw; /* 8.5 inches converted to vw (assuming 100vw = screen width) */
  margin: 0 auto; /* Centers content horizontally */
  display: flex;
  text-align: start; /* Centers all text by default */
  justify-content: start;
  max-width: 600px;
}

h1 {
  font-size: 1.8em;
  line-height: 0.6; /* Adjust as needed for spacing */
  text-align: start;
  font-weight: bolder;
}
.lot-info{
  padding-top:30px;
  padding-left:10px;
  text-align:start;
  break-inside: avoid;
  
}
.asset-number {
  font-size: 4.2em;
}
h2 {
  font-size: 1.1em;
  line-height: 0.8;
}

.label {
  text-align: center; /* Center text within .label */
  
  /* Adjust width or use flexbox for internal content centering (if needed) */
  /* width: 77vw;  */ /* Uncomment if needed */
}
.bold-txt {
  font-size: 2em;
  font-weight: bold;
}
.kit-info {
  line-height: 0.05em;
  justify-content: center;
  text-align: center;
}
.job-info {
  padding-left: 15%;
  line-height: 0.5em;
  font-size: larger;
  justify-content: left; /* Intentional left alignment */
  text-align: left;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  /* Adjust for smaller screens (optional) */
  body {
    width: 77.2vh; /* Example adjustment for narrower screens */
  }
}

@media print {
  @page {
    size: A6;
    width: 100vw;
    margin: 0;
  } 
  body {
    justify-content: center;
    height: 10.5in;
    width: 7in;
    margin: 0; /* Remove margins for better space utilization */
  }
  .lot-info{
    break-inside: avoid;
  }
}


